<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <br /><h1>Giving Reviews</h1>
      <br />

      <!-- Conditional alert if user needs to submit more reviews or not !-->
      <div th:if="${reviewsNeededFromStudent} > 0">
        <div class="alert alert-warning" role="alert" id="reviewsNeeded">
          <span th:text="'You must review ' + ${reviewsNeededFromStudent} + ' more project ideas'"></span>
        </div>
      </div>
      <div th:unless="${reviewsNeededFromStudent} > 0">
        <div class="alert alert-success" role="alert" id="reviewsSufficient">
          <span>You have reviewed a sufficient number of project ideas. Feel free to continue submitting additional reviews</span>
        </div>
      </div>

      <br />
      <div th:if="${randomIdeaThatNeedsAReview}">
        <h3 th:text="'Project Idea: ' + ${randomIdeaThatNeedsAReview.title}"></h3>
        <span th:text="${randomIdeaThatNeedsAReview.details}"></span>
        <br /><br />
        <h3>Your Review:</h3>
        <form  id="reviewForm" name="reviewForm" action="#" th:action="@{'/reviews/add/' + ${randomIdeaThatNeedsAReview.id}}" th:object="${review}" method="post">

          <div class="form-group">
            <label>Rating (enter an integer 1-5, 5 being an incredible idea)</label>
            <!--
            <input type="text" id="rating-field" class="form-control" th:field="*{rating}" />
            -->
            <div class="form-group">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{rating}">
                <label class="custom-control-label" for="option1">1</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" th:field="*{rating}">
                <label class="custom-control-label" for="option2">2</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option3" name="option3" class="custom-control-input" value="3" th:field="*{rating}">
                <label class="custom-control-label" for="option3">3</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option4" name="option4" class="custom-control-input" value="4" th:field="*{rating}">
                <label class="custom-control-label" for="option4">4</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option5" name="option5" class="custom-control-input" value="5" th:field="*{rating}">
                <label class="custom-control-label" for="option5" id="radio5Label">5</label>
              </div>
            </div>

            <div th:if="${ratingHasErrors}" class="alert alert-danger" role="alert" th:text="${ratingErrors}"></div>
          </div>

          <div class="form-group">
            <label>Details</label>
            <textarea  class="form-control" th:field="*{details}" id="details" rows="4" cols="50" maxlength="255">
        </textarea>

            <div th:if="${detailHasErrors}" class="alert alert-danger" role="alert" th:text="${detailErrors}"></div>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <button type="submit" class="btn btn-primary" hidden>Submit</button>
        </form>

        <button class="btn btn-primary" id="submit" onclick="validate()">Submit</button>

      </div>


      <div th:unless="${randomIdeaThatNeedsAReview}">
        <div class="alert alert-danger" role="alert">
          No ideas currently need a review; please refresh this page in a moment
        </div>
      </div>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>

    <!-- JS text field validation - if done server side, the user's in progress review will be deleted in event of an error ! -->
  <script>
    function validate() {
     // let rating = document.getElementById("rating-field").value;
      let details = document.getElementById("details").value;
      /*
      if (!(rating >= 1 && rating <= 5)) {
        alert("Error: Rating must be an integer between 1-5 (inclusive)");
        return;
      }
       */
      if (details.length < 20) {
        alert("Error: Please provide more details");
        return;
      }
      document.getElementById("reviewForm").submit();
    }
  </script>
  </body>
</html>
