<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <h1>Welcome to the Project Idea Reviewer</h1>

    <div th:if="${needsToSubmitProjectIdea}">
      <p>To get started, submit your project idea below.</p>
      <p>After you submit your project idea, you can rate other students project ideas as they become available for
        rating.</p>
      <div th:replace="ideas/fragments/form.html"></div>
    </div>

    <div th:if="${isStudent}">
      <div th:unless="${needsToSubmitProjectIdea}">
        <p>Your project idea</p>
        <table>
          <tbody>
            <tr>
              <th>Title</th>
              <td th:text="${student.title()}"></td>
            </tr>
            <tr>
              <th>Details</th>
              <td th:text="${student.details()}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>
  <div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>

</html>