<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h3>Ideas</h3>
      <table
        class="bootstrap-table"
        data-toggle="table"
        data-search="true"
        data-show-export="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
      >
        <thead>
          <tr>
            <th data-sortable="true">id</th>
            <th data-sortable="true"># reviews</th>
            <th data-sortable="true">avg rating</th>
            <th data-sortable="true">title</th>
            <th data-sortable="true">details</th>
            <th data-sortable="true">first</th>
            <th data-sortable="true">last</th>
            <th data-sortable="true">email</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="i: ${ideas}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.reviews.size()}"></td>
            <td th:text="${i.getAvgRating()}"></td>
            <td th:text="${i.title}"></td>
            <td th:text="${i.details}"></td>
            <td th:text="${i.student.fname}"></td>
            <td th:text="${i.student.lname}"></td>
            <td th:text="${i.student.email}"></td>
            <td>
              <form
                th:action="@{/ideas/delete/{id}(id=${i.id})}"
                th:method="post"
              >
                <input
                  type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"
                />
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
