<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>
<body>
<div class="container">
  <div th:replace="bootstrap/bootstrap_nav_header.html"></div>


  <h3>Students</h3>
  <table class="bootstrap-table" data-toggle="table" data-search="true" data-show-export="true" data-show-columns="true"
         data-show-columns-toggle-all="true">
    <thead>
    <tr>
      <th data-sortable="true">id</th>
      <th data-sortable="true" >first</th>
      <th data-sortable="true">last</th>
      <th data-sortable="true">perm</th>
      <th data-sortable="true">email</th>
      <th data-sortable="true">idea</th>
      <th data-sortable="true">reviews entered</th>
      <th>remove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${students}">
      <td th:text="${u.id}"></td>
      <td th:text="${u.fname}"></td>
      <td th:text="${u.lname}"></td>
      <td th:text="${u.perm}"></td>
      <td th:text="${u.email}"></td>
      <td th:text="${u.title()}"></td>
      <td th:text="${u.numReviewsEntered()}"></td>
      <td>
        <form th:action="@{/students/delete/{id}(id=${u.id})}" th:method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <h3>Upload Students</h3>

  <br/>
  <form action="/students/upload" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
    <input type="file" name="csv" id="csv" accept="text/csv"></input>
    <input type="submit" class="btn btn-secondary" value="Submit CSV"></input>
  </form>
  <br></br>

  <div th:replace="bootstrap/bootstrap_footer.html"></div>
</div>
<div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>
</html>